*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(121, 117, 113);
    min-height: 100vh;
    display: flex;
    align-items: center
    ;
    justify-content: center ;
    padding: 20px;



}
.container{
    background-color: bisque;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 800px;
    box-shadow:  0 10px 10px black;


}
h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(54, 102, 86);
    position: relative;
    padding-bottom: 0.5rem;

}
h1::after{
    
}